.nav_btn {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 7px;
    background: black;
    color: white;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.nav_btn i {
    margin-right: 8px;
    margin-left: 12px;
}